.card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(240, 240, 240);
  padding: 1rem;
  border-radius: 0.5rem;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.content-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

figure {
  width: 8rem;
  height: 100%;
  background-color: rgb(232, 232, 232);
  display: flex;
  border-radius: 0.5rem;
  margin-right: 1rem;
}
.card img {
  width: 100%;
  object-fit: contain;
}
section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-auto-rows: 10rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.lg {
  font-weight: 700;
  font-size: 1.1rem;
}
.light-text {
  color: gray;
}
span {
  margin-right: 0.5rem;
}
.un-content {
  align-self: self-start;
  margin-left: auto;
  position: relative;
}
.tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 0.3rem;
  border-radius: 0.2rem;
  bottom: -2rem;
  left: -1.4rem;
  opacity: 0;
  font-size: 0.7rem;
  white-space: nowrap;
  transition: opacity 0.15s;
  pointer-events: none;
}
.un-content:hover .tooltip {
  opacity: 1;
}
.un-content img {
  width: 2rem;
}
.un-content:hover {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  section {
    grid-template-columns: 1fr;
  }
}
